* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color:#222222;
    color: #ffffff;
}

h2 {
    font-size: 2rem;
}

span {
    margin-right: .5rem;
}

/* HEADER */
.header-container {
    width: 94%;
    margin: 2rem auto;
    margin-bottom: 3rem;
    height: 6.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px white dashed; */
}  

/* LOGO */
.logo-container {
    width: 57.5%;
    margin-left: 3rem;
}

.logo {
    width: 8rem;
    height: 6.7rem;
}

.logo img {
    width: 100%;
}

/* SEARCH */
.search-container {
    width: 29.2%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    width: 80%;
    height: 3.3rem;
    background-color: #404040;
    /* padding: 0 .5rem; */
    border-radius: 20px;
}

.icon-search {
    height: 100%;
    margin-left: 0 .5rem;
    font-size: 1.6rem;
}

.icon-search span {
    font-size: 2.1rem;
    padding: .6rem;
    position: absolute;
}

    /* estilo del search */
.search input {
    color: white;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    letter-spacing: normal;
    padding-left: 3.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    box-shadow: 0 0 .4rem rgba(0,0,0,0.66)
}

.search input:focus {
    padding-left: 3.2rem;
    border: 1px solid #707070;
    outline: none;
}

/* LOGOUT */
.logout-container {
    width: 13.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CB1304;
    font-size: 1.6rem;
}

/* MAIN */
    /*ASIDE */
.site-main {
    width: 94%;
    height: auto;
    margin: 0 auto 3rem auto;
    padding-top: 2rem;
}

.main-container,
.session-tittle h2 {
    display: flex;
}

.nav{
    width: 20.2%;
    height: auto;
    margin: 0 auto;
    margin-left: 4rem;
}

.nav .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 3rem; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    list-style: none;
    background-color: #0f0f0f;
    border-radius: 3.7rem;
}

.nav-menu__items {
    margin-bottom: 1rem;
}

.nav-menu__items a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    width: 12.8rem;
    height: 5rem;
    border-radius: 1.7rem;
    font-size: 1.5rem;
}

.nav-menu__items a:hover {
    background-color: #1E90FF;
}

.nav-menu__items span {
    margin-right: .5rem;
}

.nav-menu .logout {
    padding-top: 9rem;
}

.logout a {
    /* background-color: #; */
    color: #CB1304;
}

.logout a:hover {
    background-color: #CB1304;
    color: #ffffff;
}

/* CONTENIDO PRINCIPAL */
.session-container {
    width: 100%;
    height: auto;
    margin: 0 3rem;
    padding: 5rem 0;
    /* padding-top: 5rem; */
    /*padding-bottom: 5rem; */
    background-color: #0f0f0f;
    border-radius: 3.7rem;
}

.session-text {
    width: 50%;
    height: 3.7rem;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: #404040;
    border-radius: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.session-container h2 {
    text-transform:capitalize;
}

.session-container .message {
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
    height: auto;
    padding: 1.6rem;
    margin-bottom: 3.6rem;
}

.session-container .message p {
    line-height: 1.3 ;
}

/* PRECIOS */

.prices {
    height: 50%;
    margin: 0 auto;
    margin-left: 3rem;
    display: flex;
    padding-top: 3rem;
}

.prices-container {
    width: 29.8%;
    height: 50%;
    margin: 0 auto;
}

.prices-tittle {
    margin-left: 1rem;
}

.prices .price-text {
    width: 85.6%;
    margin: 0;
    margin-top: 1.5rem;
    height: 73.9%;
}

/* BOTTONS PANEL */

.buttons {
    width: 40rem;
    margin-top: 4rem;
    margin-left: 5.2rem;
    margin-bottom: 4rem;
}

.buttons-container{
    display: flex;
    list-style: none;
    height: 100%;
}

.btn {
    width: 30%;
    height: 100%;
    margin-right: 2rem;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 4.5rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0px 1px 1px #404040;
    box-shadow: 0 0 1px rgba(0, 0, 0, .3),0 3px rgba(0, 0, 0, .3), 0 0 1px #404040 inset, 0 -2px 7px rgba(0, 0, 0, .25) inset;
}

.add {
    background-color: #0F811B;
}
.add:hover {
    background-color: #278a31;
}
.add:active {
    background-color: #0c6615;
}

.remove {
    background-color: #CB1304;
}

.remove:hover {
    background-color:  #db2b1b;
}
.remove:active {
    background-color:  #ad1507;
}

.update {
    background-color: #1E90FF;
}
.update:hover {
    background-color: #3c9bfa;
}
.update:active {
    background-color: #0470dd;
}

/* TABLAS */

.table-container {
    width: 98%;
    margin: 0 auto;
    margin-top: 3rem;
    text-align: center;
}
.table-container h2 {
    margin-bottom: 2rem;
}

.show-table {
    width: 100%;
    font-size: 1.4rem;
}

.show-table th {
    padding: 1.5rem;
    border: 1px solid white;
    background-color: #5252529d;
}
.show-table td {
    height: 6rem;
    padding: .5rem;
    background-color: #3737379d;
}

.show-table a {
    display: flex;
    justify-content: center;
    align-content: center;
}

.show-table figure {
    width: 5rem;
    height: 5rem;
}

.show-table img {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 40%;
    margin: 0 auto;
}
.form-container h2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-items{
    margin: 1rem 6.1rem;
    width: 75%;
}

.form-items {
    font-size: 1.6rem;
}

.form-items input {
    color: #eeeeee;
    font-size: 1.6rem;
    width: 100%;
    height: 3.8rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border-radius: 6px;
    border: none;
    background-color: #404040;
}

.form-items input[type="text"],
.form-items input[type="email"],
.form-items input[type="password"] {
    padding-left: 8px;
}

.form-items input:focus {
    padding-left: 8px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #707070;
}

.sessions-registre {
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0;
}

.form-items select {
    background-color: #404040;
    border-radius: 6px;
    border: none;
    width: 100%;
    height: 3.8rem;
    margin-top: 0.5rem;
    font-family: "roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #eeeeee;
}

.button-container {
    margin-top: 2rem;
}

.button {
    background-color: #21171F;
    width: 10.2rem;
    height: 3.1rem;
    margin: 0 auto;
    border: none;
    border-radius: 1.5rem;
    color: #eeeeee;
    font-size: 1.6rem;
}

.button:hover {
    cursor: pointer;
    background-color: #222222;
    border: 0.1rem solid #707070;
}

.session-container .date {
    width: 70%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-around;
}

.information {
    /* background-color: bisque; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.information h4 {
    margin-top: 1.5rem;
}
.information p {
    margin-bottom: 1.5rem;
}

.dates {
    margin-left: 2rem;
}

/* ALERTS */

.alert {
    color: #ff7b72;
    font-size: 1.4rem;
    height: 2rem;
    padding-top: .2rem;
    padding-left: .5rem;
    margin-top: .4rem;
    border-radius: .5rem;
    /* width: 75%; */
}
.alert-error {
    margin: 0 auto;
    background-color: #521c18;
}

.alert-complete {
    color: #2f9646;
    background-color: #0b1f14;
    width: 75%;
    height: 4rem;
    padding-top: 1.2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.alert-save {
    color: #ff7b72;
    background-color: #521c18;
}