/* panel header */

.site-header {
    width: 100vw;
    padding: 2.5rem 5rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.logo-container {
    width: 80%;
}

.search {
    /* background-color: gray; */
    /* border: 1px solid goldenrod; */
    width: 20%;
    margin-left: 1rem;
}

.search-container {
    border: 1px solid brown;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3.2rem;
    border: 1px solid #707070;
    border-radius: .6rem;
}

.search-logo {
    width: 10%;
    text-align: center;
}

.logout {
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    background-color: lightcoral;
}

.input-search{
    /* background-color: blueviolet; */
    margin: 0;
    height: auto;
    width: 90%;
    /* height: 2rem; */
}

.input-search input {
    margin: 0;
    height: 3.2rem;
}

.form-items input:focus {
    border: transparent;
}


.fa-power-off {
    font-size: 3rem;
    text-align: center;
}