* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'roboto', sans-serif;
    background-color: #222222;
}

h1 {
    font-size: 2.2rem; 
    color: #eeeeee;
}

a {
    display: block;
    text-decoration: none;
    color: #eeeeee;
}

p {
    color: white;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

/* HEADER  */

.site-header {
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.header-container {
    padding-top: 2rem;
}

.logo-container {
    margin-bottom: 1.2rem;
}

.logo {
    margin: 0 auto;
    width: 8rem;
    height: 6.7rem;
}

.logo img{
    width: 100%;
    height: 100%;
}


#btn-nav {
    display: none;
}


#btn-nav:checked ~ .nav-menu {
    margin: 0;
}

.menu-container {
    padding-bottom: 1.2rem ;
}

.menu-container img {
    margin-top: .5rem;
}

.menu-container label {
    margin: 0 auto;
    display: block;
    box-sizing: content-box;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

.menu-container label:hover {
    cursor: pointer;
    background: #404040;
}

.nav-menu {
    position: absolute;
    background-color: #222222;
    width: 100%;
    margin-left: -100%;
    padding-top: 1rem;
}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    width: 100%;
    text-align: center;
    border-bottom: .1rem solid #404040;
    height: 100%;
}

.nav-menu li a {
    margin: 0 auto;
    display: block;
    padding: 1.5rem;
    height: 100%;
    font-weight: bold;
}

.nav-menu__items .home {
    border-top: .1rem solid #404040; 
}

.nav-menu li a:hover {
    cursor: pointer;
    background-color: #404040;
}

/* CONTAINT */

    /* portada cell */

.site-content {
    margin: 0 auto;
}

.cover-site {
    background-image: url("/assets/img/portadaWeb.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 28.6rem;
    min-height: 28.6rem;
    width: 100%;
    background-color: #404040;
    padding: 2rem 3.6rem;
    margin-bottom: 2rem;
}

.cover-text__title {
    text-align: center;
    margin-top: 5rem;
}

.cover-text__parrafo {
    margin: 1.2rem 1.7rem 0;
}

    /* MARCAS */

.marks-site {
    margin-top: 2rem;
    width: 100%;
    min-width: 37.5rem;
    height: 100%;
    min-height: 24.7rem;
    display: flex;
    justify-content: space-between;
    background-color: #404040;
}

.marks-container {
    padding: 2rem 0rem;
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.marks-container__items {
    max-width: 8.7rem;
    min-width: 8.7rem;
    max-height: 8.7rem;
    margin: 2rem;
}

.marks-container__items img {
    width: 100%;
    height: 100%;
}

.apple {
    /* margin-bottom: 3.3rem; */
}

    /* PRODUCTS */

.products-site {
    margin: 2rem 1.6rem;
    /* border: 1px solid white; */
}

/* Contenedor de todos los productos, revisar display feColorMatrix */
.products-container {
    display: flex;
    justify-content: space-evenly;
}

.products {
    background-color: #404040 ;
    border-radius: 2rem;
    margin: 2rem 1rem;
    width: 15.4rem;
    min-width: 15.4rem;
    text-align: center;
}

/* Temporal mientras repaso display: grid */
.products-two .products {
    margin-top: 0;
}


.products .products-name {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.products-photo {
    width: 13.2rem;
    margin: 0 auto;
}

.products-photo img {
    width: 100%;
}

.products .products-price {
    padding-top: 0;
    margin-bottom: 1rem;
}

/* BOTONES */
.btn {
    background-color: #21171F;
    width: 10.2rem;
    height: 3.1rem;
    margin: 0 2.6rem 2rem;
    border: none;
    border-radius: 1.5rem;
    color: #eeeeee;
    font-size: 1.6rem;
}

/* FOOTER  */


.footer-container {
    background-color: #404040;
    min-height:15.3rem ;
}

/* darle posición a los botones sign in y sign up */
.sessions {
    padding-top: 2rem;
    margin: 0rem 4.4rem 2rem;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.btn-session {
    margin: 0;
}


.follows {
    text-align: center;
}

.title-follow {
    font-weight: bold;
}

/* centrar los iconos de redes sociales */
.icon-follow {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.icon-follow__items {
    padding-right: 1rem;
    padding-top: 1rem;
}

.logo-footer {
    padding: 1rem 1rem .5rem; /*arriba, derecha-izquierda, abajo*/
    width: 5rem;
}

.text-copyright {
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem;
    height: 100%;
}

/* quitar los botones de la sesiones del header mobile */
.sessions-header {
    display:none
}